<div class="container my-5">
<h1>Add new booking here </h1>
<div class="row">
    <div class="col-6">
        <form #form="ngForm" (ngSubmit)="addBooking()">
            <div class="mb-3">
              <label for="bname" class="form-label">Booking Name</label>
              <input type="text" class="form-control" id="bname" name="bname" [(ngModel)]="addBookingRequest.bname">
              
            </div>
            <div class="mb-3">
                <label for="mname" class="form-label">Movie Name</label>
                <input type="text" class="form-control" id="mname" name="mname" [(ngModel)]="addBookingRequest.mname">
                
              </div>
              <div class="mb-3">
                <label for="ticketprice" class="form-label">Ticket Price</label>
                <input type="number" class="form-control" id="ticketprice" name="ticketprice" [(ngModel)]="addBookingRequest.ticketprice">
                
              </div>
         
            <button type="submit" class="btn btn-primary">Add Booking</button>
          </form>


    </div>
</div>

</div>